:root{
    --color-primario: #ffffff;
    --color-secundario: #292828;
    --color-terceario: #9ca3af;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.presentacion {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secc-sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    padding: 40px 80px;
}

.contenido {
    width: 50%;
    text-align: left;
}

.con-img {
    width: 40%;
    height: 300px;
}

.img {
    width: 50vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    width: 100%;
    padding: 15px 30px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    color: var(--color-primario);
    text-decoration: none;
};